zoom_in  K
zoom_out J

toggle_custom_color i

goto_toc I

move_left  l
move_right h

escape <C-g>

copy yy

_path_info <C-a>
_open_in_terminal <C-b>

# Navigate searchable menus with Ctrl-P / Ctrl-N.
[m]control_menu(up) <C-p>
[m]control_menu(down) <C-n>

goto_next_tab <tab>
goto_prev_tab <A-<tab>>
goto_tab T
